@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root {
  --navbar-height: 70px;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #929292;
  height: 5px;
  border-radius: 5px;
}